@model List<Awe.Menu.AweMenu>

@foreach (var subMenu in Model)
{
    var hasChildren = subMenu.Children.Count > 0;
    var itemClass = hasChildren ? "has-sub" : string.Empty;

    <li class="site-menu-item @itemClass">
        @if (hasChildren)
        {
            <a href="javascript:void(0)">
                <span class="site-menu-title">
                    @subMenu.Title
                </span>
                <span class="site-menu-arrow"></span>
            </a>

            <ul class="site-menu-sub">
                @foreach (var item in subMenu.Children)
                {
                    <li class="site-menu-item">
                        @if (item.RouteName.StartsWith("$"))
                        {
                            <a asp-controller="@item.ControllerName" asp-action="@item.ActionName" class="animsition-link">
                                <span class="site-menu-title">@item.Title</span>
                            </a>
                        }
                        else
                        {
                            <a asp-route="@item.RouteName" class="animsition-link">
                                <span class="site-menu-title">@item.Title</span>
                            </a>
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            @if (subMenu.RouteName.StartsWith("$"))
            {
                <a asp-controller="@subMenu.ControllerName" asp-action="@subMenu.ActionName" class="animsition-link">
                    <span class="site-menu-title">@subMenu.Title</span>
                </a>
            }
            else
            {
                <a asp-route="@subMenu.RouteName" class="animsition-link">
                    <span class="site-menu-title">@subMenu.Title</span>
                </a>
            }
        }
    </li>
}